
.parag{
position: absolute;
width: 473px;
height: 164px;
left: 82px;
top: 351px;
font-family: Inter;
font-size: 20px;
line-height: 38px;

}
.writer{
position: absolute;
left: 82px;
top: 574px;
font-family: Inter;
font-size: 20px;

}
